<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Predictions</title>
</head>
<body>
    <h1>Make a Prediction</h1>
<form action="/predict" method="post">
    Latitude: <input type="text" name="lat"><br>
    Longitude: <input type="text" name="lon"><br>
    PRECTOT: <input type="text" name="prectot"><br>
    PS: <input type="text" name="ps"><br>
    QV2M: <input type="text" name="qv2m"><br>
    RH2M: <input type="text" name="rh2m"><br>
    T2MWET: <input type="text" name="t2mwet"><br>
    TS: <input type="text" name="ts"><br>
    WS10M: <input type="text" name="ws10m"><br>
    WS50M: <input type="text" name="ws50m"><br>
    <input type="submit" value="Submit">
</form>

    </form>
</body>
</html>
